body, html{
  height:100%;
  background: url('Hogwarts-Background.jpg');
  background-size: cover;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 16px;
  font-family: sans-serif;
}
.arena{
  margin: 125px 50px 50px 50px;
  height: 600px;
  width: 1000px;
  /* width: auto; */
}

body, a:link, a:visited, a:active{
  
  text-decoration: none;
}
.addDancerButton:hover{
  border: 1px solid  #eebebb;
  border-radius: 5px;
}
.lineUp:hover, .shuffle:hover {
  border: 1px solid  #1b2137;
  border-radius: 5px;
}
.addDancerButton, .lineUp, .shuffle{
  padding:5px 12px;
  float:right;
  background-color: #1b2137; 
  color: #eebebb;
  margin: 5px;
  border-radius: 5px;

}
.lineUp, .shuffle{
  color: #1b2137;
  background-color: #eebebb;
}
.title, .HPlogo{
  float: left;
  font-size: 36px;
  font-family: 'Palatino Linotype';
  font-weight: bold;
  color: black;
}

.title {
  padding: 10px 5px;
}

.HPlogo{
  width: auto;
  height: 50px;
  padding:10px;
}




.topbar{
  height:32px;
  /* background-color: #555; */
}
.title{
  
}
/* .dancer{
  border:10px solid red;
  border-radius:100%;
  position:absolute;
} */

.harryDancer{
  width: auto;
  height: 150px;
  position: absolute;
}

.hermoineDancer {
  width: auto;
  height: 150px;
  position: absolute;
}

.snapeDancer {
  width: auto;
  height: 150px;
  position: absolute;
}

.dumbledoreDancer {
  width: auto;
  height: 150px;
  position: absolute;
}

.voldemortDancer {
  width: auto;
  height: 150px;
  position: absolute;
}

.ronDancer {
  width: auto;
  height: 150px;
  position: absolute;
}

.ronDancer:hover {
  width: auto;
  height: 300px;
}

.voldemortDancer:hover {
  opacity:0;  
  filter:alpha(opacity=0);
}